body {
    font-family: "Raleway", sans-serif;
  }
  
  /* Hero Section */
  
  #Hero-Section {
    background-image: url("../img/perfil1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

  }
  
  /* Mis trabajos */
  
  #portafolio .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  

